@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to College In My Future Search Tool";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/lib/College.png" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
